<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
            <pre id="token"> <%= @token %></pre>
        <% end %>
      </p>
    </div>
  </div>
</div>
